.see-all {
    font-weight: 600;
    cursor: pointer;
    background-color: hsl(264, 100%, 60%);
    padding: 10px;
    margin: 50px;
    color: white;
    border-radius: 15px;
    text-align: center;
  }